:root {
  --bs-link-color:#ffffff;
  --bs-link-hover-color:#f5dddd;
  --bs-border-color:#f8b47c;
  --bs-nav-pills-link-active-bg: #ffffff;
  --bullens-favorit: #f5a66582;
  
}
body {
    background: linear-gradient(#f8b47c, rgb(255, 213, 179))
    no-repeat
    fixed
    }

.nav-pills {
    --bs-nav-pills-link-active-bg: var(--bullens-favorit);
}

h1 { 
    text-align: center;
    border-top-style: double;
    border-width: 1px;
    border-radius: 64px;
    padding: 16px;
    color: rgb(255, 255, 255); 
    font-family: "helvetica";
    font-size: 100px;
    text-shadow: 5px 5px 5px #f5a768;
   
} 
    h2 { 
    text-align: center;
    border-bottom-style: none;
    border-width: 1px;
    border-radius: 80px;
    padding: 16px;
    color: rgb(255, 255, 255);
    font-family: "helvetica";
    font-size: 50px;
    text-shadow: 2px 2px 2px #f5a768;
        } 
p { 
    text-align: center;
    border-bottom-style: double;
    border-width: 1px;
    border-radius: 80px;
    padding: 16px;
    color: rgb(255, 255, 255);
    font-family: "helvetica";
    font-size: 25px;
    text-shadow: 2px 2px 2px #f5a768;
} 

a {
    text-decoration: none;
}

.page-wrapper {
  display: flex;
  justify-content: center;
}

.imagecontainer {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.button-primary {
display: block;
margin: 0 auto;
background-color: var(--bullens-favorit);
  color: #ffffff;
  
  padding: 16px 32px;
  border-style: none;
  border-width: 0px;
  border:#ffffff;
  border-radius: 6px;
  font-size: 24px;
  cursor: pointer;
}
.button-primary:hover {
  background-color: #f5a768;
}

.dropbtn {
background-color: #f5a76800;
color: #ffffff;
  padding: 8px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px #f5a768;
    z-index: 1;
}

.dropdown-content ul {
    background-color: #f5a768ee;
    


}

/* Links inside the dropdown */
.dropdown-content a {

  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.rounded-2 { 
    background-color: rgba(0, 255, 255, 0);
    color:#ffffff; 
}


.rounded-2 #active {
    background-color: #f5a768;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

