body {
    background: linear-gradient(#f8b47c, rgb(255, 213, 179))
    no-repeat
    fixed
    }
h1 { 
    text-align: center;
    border-top-style: double;
    border-width: 1px;
    border-radius: 64px;
    padding: 16px;
    color: rgb(255, 255, 255); 
    font-family: "helvetica";
    font-size: 100px;
    text-shadow: 5px 5px 5px #f5a768;
    } 
    h2 { 
    text-align: center;
    border-bottom-style: none;
    border-width: 1px;
    border-radius: 80px;
    padding: 16px;
    color: rgb(255, 255, 255);
    font-family: "helvetica";
    font-size: 50px;
    text-shadow: 2px 2px 2px #f5a768;
        } 
p { 
    text-align: center;
    border-bottom-style: double;
    border-width: 1px;
    border-radius: 80px;
    padding: 16px;
    color: rgb(255, 255, 255);
    font-family: "helvetica";
    font-size: 25px;
    text-shadow: 2px 2px 2px #f5a768;
} 

.page-wrapper {
  display: flex;
  justify-content: center;
}

.imagecontainer {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.button-primary {
display: block;
margin: 0 auto;
background-color: #f5a66582;
  color: rgb(255, 255, 255);
  
  padding: 16px 32px;
  border-style: none;
  border-width: 0px;
  border:rgb(255, 255, 255);
  border-radius: 6px;
  font-size: 24px;
  cursor: pointer;
}
.button-primary:hover {
  background-color: #f5a768;

}
